body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Fredoka", sans-serif;
  background-color: #faf8f1;
  color: #1a120b;
  text-align: center;
}


}
.con2 {
}
.my-button {
  margin-top: 2rem;
  background-color: #c58940;
  border-radius: 100px;
  box-shadow: rgba(185, 187, 44, 0.2) 0 -25px 18px -14px inset,
    rgba(187, 180, 44, 0.15) 0 1px 2px, rgba(187, 187, 44, 0.15) 0 2px 4px,
    rgba(163, 187, 44, 0.15) 0 4px 8px, rgba(173, 187, 44, 0.15) 0 8px 16px,
    rgba(180, 187, 44, 0.15) 0 16px 32px;
  color: w;
  cursor: pointer;
  display: inline-block;
  font-family: "Fredoka", sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.my-button:hover {
  box-shadow: rgba(154, 187, 44, 0.35) 0 -25px 18px -14px inset,
    rgba(170, 187, 44, 0.25) 0 1px 2px, rgba(170, 187, 44, 0.25) 0 2px 4px,
    rgba(170, 187, 44, 0.25) 0 4px 8px, rgba(187, 185, 44, 0.25) 0 8px 16px,
    rgba(173, 187, 44, 0.25) 0 16px 32px;
  transform: scale(1.3) rotate(0.5deg);
}
.AS0 {
}

.AS1,
.AS2,
.AS3,
.AS4,
.AS5,
.AS6,
.AS7,
.AS8,
.AS9,
.AS10,
.AS11,
.AS12,
.AS13 {
  display: none;
}

img {
  width: 50px;
  height: 50px;
  margin: 12px;
  animation: slide-in 1s linear forwards;
  animation-delay: 0.2s;
  animation-fill-mode: both;
}

@keyframes slide-in {
  0% {
    transform: translateX(4000%);
  }
  100% {
    transform: translateX(0);
  }
}

/* img {
  width: 50px;
  height: 50px;
  margin: 10px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
==============================================================BackUp===========================================
.container {
  overflow: hidden;
  margin-bottom: 3%;
  display: flex;
  justify-content: space-between;
  background-color: #c58940;
  height: 90px;
  width: 100%;
  top: 0;
  bottom: 0;
  -webkit-box-shadow: 0px 0px 8px 0px #000000;
  -moz-box-shadow: 0px 0px 8px 0px #000000;
  box-shadow: 0px 0px 8px 0px #000000;
  z-index: 500;
}
.container a {
  text-decoration: none;
  color: white;
  float: left;
  text-align: center;
  font-size: 18px;
  border-radius: 4px;
}

.logo {
  color: #1a1a2e;
  font-size: 2rem;
}
.navlinks {
  width: 30%;
}
.navlinks a {
  color: cornsilk;
  justify-content: space-between;
}









*/
